@use "layout/header";
@use "layout/navbar";

@use "components/card";

@use "abstracts/variables" as v;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: v.$grey-light;
}

.list-container {
  margin-top: 160px;
}
.pagination-navbar {
  margin-top: 40px;
}
