@use "../abstracts/variables" as v;

.pokemon {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: v.$white;
  border-radius: 20px;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    max-width: 200px;
  }
  &__stats {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__type {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__button {
    border: none;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-image: linear-gradient(
      to right,
      #d31027 0%,
      #f15466 51%,
      #d31027 100%
    );
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
  }

  &__button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  &__button:active {
    transform: translateY(2px);
  }

  &__stats {
    margin-bottom: 30px;
  }

  &__position {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__badge {
    padding: 4px 15px;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 700;
    border-radius: 5px;
  }

  &__badge--margin-right {
    margin-right: 20px;
  }

  &__title {
    font-size: 2.5em;
    margin: 30px 0;
  }
}

.number {
  color: v.$white;
  background-color: v.$number;
}

.steel {
  color: v.$white;
  background-color: v.$steel;
}
.water {
  color: v.$white;
  background-color: v.$water;
}
.bug {
  color: v.$black;
  background-color: v.$bug;
}
.dragon {
  color: v.$white;
  background-color: v.$dragon;
}
.electric {
  color: v.$black;
  background-color: v.$electric;
}
.ghost {
  color: v.$white;
  background-color: v.$ghost;
}
.fire {
  color: v.$black;
  background-color: v.$fire;
}
.fairy {
  color: v.$black;
  background-color: v.$fairy;
}
.ice {
  color: v.$black;
  background-color: v.$ice;
}
.fighting {
  color: v.$white;
  background-color: v.$fighting;
}
.normal {
  color: v.$black;
  background-color: v.$normal;
}
.grass {
  color: v.$white;
  background-color: v.$grass;
}
.psychic {
  color: v.$white;
  background-color: v.$psychic;
}
.rock {
  color: v.$black;
  background-color: v.$rock;
}
.dark {
  color: v.$white;
  background-color: v.$dark;
}
.ground {
  color: v.$white;
  background-color: v.$ground;
}
.poison {
  color: v.$white;
  background-color: v.$poison;
}
.flying {
  color: v.$black;
  background-color: v.$flying;
}
