$grey-light: #ececec;
$white: #fff;
$black: #333533;

$green: #a8ef87;
$yellow: #f2db94;
$red: #f97e86;

$number: #495057;
$steel: #8d99ae;
$water: #0077b6;
$bug: #d9ed92;
$dragon: #3d3195;
$electric: #ffd100;
$ghost: #6247aa;
$fire: #f4a261;
$fairy: #f9bec7;
$ice: #90e0ef;
$fighting: #ce4257;
$normal: #e5e5e5;
$grass: #6a994e;
$psychic: #e05780;
$rock: #bfab67;
$dark: #54442b;
$ground: #a9714b;
$poison: #a06cd5;
$flying: #caf0f8;
